.buildpath
.project
.settings
.svn
*-swp
*/*
/*.php
/*.txt
/*.json
/*.dist

mod/mgm/pix/letter_001.jpg
mod/mgm/pix/letter_002.jpg
mod/mgm/pix/letter_003.png

mod/mgm/simpletest/testGenGroups.php

!blocks/mgm
!blocks/cert
!enrol/mgm
!blocks/configurable_reports/viewreport.php
!blocks/configurable_reports/components/filters
!blocks/configurable_reports/components/permissions/custommgm
!blocks/configurable_reports/export/pdf
!blocks/configurable_reports/lang
!blocks/configurable_reports/reports/sql/report.class.php
!mod/mgm
!lib/fpdf
!grade/report/acta
!libreta.txt
!mgm_version.txt

