.buildpath
.project
.settings
.svn
*-swp
*/*
!blocks/mgm
!blocks/cert
!enrol/mgm
!blocks/configurable_reports/viewreport.php
!blocks/configurable_reports/components/filters
!blocks/configurable_reports/components/permissions/custommgm
!blocks/configurable_reports/export/pdf
!blocks/configurable_reports/lang
!mod/mgm/
!grade/report/acta
!libreta.txt
!mgm_version.txt


COPYING.txt
README.txt
TRADEMARK.txt
brokenfile.php
composer.json
config-dist.php
config.php
draftfile.php
file.php
githash.php
help.php
index.php
install.php
mdeploy.php
mdeploytest.php
mod/mgm/pix/letter_001.jpg
mod/mgm/pix/letter_002.jpg
mod/mgm/pix/letter_003.jpg
phpunit.xml.dist
pluginfile.php
tags.txt
version.php
Tareas.txt
